extends ../base.pug

block variables
    - var template = 'about'

block content
    .about(data-background=about.background_color data-color=about.text_color)
      .about__wrapper
        section.about__header
          .about__header__title
            h1.about__header__title__text(data-animation="title")!=about.title.replace(/\n/g, '<br>')
          .about__header__media
            figure.about__media__figure
              img.about__media__figure__image(data-src=about.title_image.url alt=about.title_image.alt)

        section.about__background
            .about__background__gc
              .about__background__gc__smdesc
                p.about__background__gc__smdesc__text(data-animation="paragraph")=about.sm_desc
              .about__background__gc__bg__title
                h2.about__background__gc__bg__title__text(data-animation="vertical")=about.background_title
              .about__background__desc
                each desc in about.background_desc
                  .about__background__desc__frame
                    p.about__background__desc__frame__text(data-animation='label')=desc.background_desc_text

        section.about__clients
          .about__clients__title
            h2.about__clients__title__text(data-animation="title")=about.clients_title
          .about__clients__gallery
            .about__clients__gallery__wrapper
              each client in about.client_logos
                .about__clients__gallery__client
                  p.about__clients__gallery__client__name(data-animation='label')=client.client_name

        section.about__desc
          .about__desc__gc
            .about__desc__gc__title
              h2.about__desc__gc__title__text(data-animation="vertical")=about.about_title
            .about__desc__gc__desc
              p.about__desc__gc__desc__text(data-animation='paragraph')!=about.about_desc.replace(/\n/g, '<br>')
          .about__desc__location
            p.about__desc__location__text(data-animation="vertical")=about.location

        section.about__press
          .about__press__title
            h2.about__press__title__text(data-animation='title')=about.about_press_title
          .about__press__content
            each obj in about.about_press
              .about__press__content__div
                p.about__press__content__div__title.outside__link(data-animation='label')=obj.about_press_link_title
                  a.about__press__content__div__title__link(href=(obj.about_press_link_link.url))

        section.about__contact
          .about__contact__title
            h2.about__contact__title__text(data-animation='title')=about.contact
          .about__contact__details
            p.about__contact__details__text(data-animation="label")=about.contact_desc
          //.about__contact__icons
            each obj in about.contact_icons
              .about__contact__icons__icon
                a.about__contact__icons__icon__link(href=(obj.contact_icons_link.url))
                img.about__contact__icons__icon__image(data-src=obj.contact_icons_icon.url alt=obj.contact_icons_icon.alt)

        section.about__footer
          .about__footer__media
            figure.about__media__figure
              img.about__media__figure__image(data-src=about.footer_image.url alt=about.footer_image.alt)
          .about__footer__title
            p.about__footer__title__text(data-animation='title')=about.footer_title


