extends ../base.pug

block variables
    - var template = 'home'

block content
  .home(data-background=home.background_color data-color=home.text_color)
    .home__wrapper

      .home__gallery
        .home__gallery__wrapper
          each obj in home.work_gallery
            a.home__gallery__link(href=Link=(`${obj.work_gallery_images.type}/${obj.work_gallery_images.uid}`))
              figure.home__gallery__media
                img.home__gallery__media__image(alt=obj.work_gallery_images.data.gallery_link_image.alt data-src=obj.work_gallery_images.data.gallery_link_image.url)

      .home__content
        each obj in home.work_gallery
          .home__content__title
            h2.home__content__title__text(data-splitting)=obj.work_gallery_images.data.gallery_title

      .home__links
        each obj in home.home_links
          .home__links__title
            p.home__links__title__text=obj.link_name
              a.home__links__title__text__link(href=(obj.link.url))

