extends ../base.pug

block variables
    - var template = 'home'

block content
  .home(data-background=home.background_color data-color=home.text_color)
    .home__wrapper

      .selectors
        .selectors__videos
          p.selectors__videos__text=home.video_selector
        .selectors__slash
          p.selectors__slash__text= '|'
        .selectors__photos
          p.selectors__photos__text=home.photo_selector

      .home__gallery
        .home__gallery__wrapper

          .home__gallery__vidwrap
            each obj in home.work_video_gallery
              a.home__gallery__video__link(href=Link=(`${obj.work_gallery_videos.type}/${obj.work_gallery_videos.uid}`))
                figure.home__gallery__video__media
                  img.home__gallery__video__media__image(alt=obj.work_gallery_videos.data.preview_frame.alt data-src=obj.work_gallery_videos.data.preview_frame.url )

          .home__gallery__imgwrap
            each obj in home.work_gallery
              a.home__gallery__image__link(href=Link=(`${obj.work_gallery_images.type}/${obj.work_gallery_images.uid}`))
                figure.home__gallery__image__media
                  img.home__gallery__image__media__image.loaded(alt=obj.work_gallery_images.data.gallery_link_image.alt data-src=obj.work_gallery_images.data.gallery_link_image.url)

      .home__content
        .home__content__images
          each obj in home.work_gallery
            .home__content__images__title
              h2.home__content__images__title__text(data-splitting)=obj.work_gallery_images.data.gallery_title

        .home__content__videos
          each obj in home.work_video_gallery
            .home__content__videos__title
              h2.home__content__videos__title__text(data-splitting)=obj.work_gallery_videos.data.video_title

      .home__links
        each obj in home.home_links
          .home__links__media
            .home__links__media__div.outside__link
              a.home__links__media__div__link(href=(obj.link.url))
                img.home__links__media__image(alt=obj.link_icon.alt data-src=obj.link_icon.url)
